<div>
  <hr><h4>Reviews: </h4>
  <% if @product.reviews.present? %>
    <ol>
      <% @product.reviews.each do |review| %>
        <li> <b>
          Review: <%= review.content %> <br>
          Added by: <%= review.user.email %> <br>
          <% if review.likes.where(user_id: current_user&.id).present? %>
            <%= link_to 'Unlike', unlike_product_reviews_path(@product, review_id: review) %>
            <%= review.likes.size %> &emsp;
          <% else %>
            <%= link_to 'Like', like_product_reviews_path(@product, review_id: review) %>
            <%= review.likes.size %> &emsp;
          <% end %>
        </b> </li> <br>
      <% end %>
    </ol>
  <% else %>
    <h5> Be the first one to review this product..</h5>
  <% end %>
</div>

<div>
  <hr><h4>Add a Review: </h4>
  <%= form_with(model: [@product, @product.reviews.build], local: true) do |f| %>
    <%= f.label :reviewer %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
</div>